version: '3.9'
services:
  server:
    build: ./server
    ports:
      - '5000:5000'
    env_file:
      - ./server/.env
    depends_on:
      - mongo
  client:
    build: ./client
    ports:
      - '5173:5173'
    environment:
      - VITE_API_BASE_URL=http://localhost:5000/api
  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
